.filter__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.filter__input {
  width: 300px;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgb(128, 128, 128);
  color: rgb(104, 102, 103);
  box-shadow: -5px 5px 12px -10px rgba(34, 60, 80, 0.6) inset;
}

.filter__input:focus,
.filter__input:hover {
  border: 2px solid black;
}
